body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sections{
  height: 100vh;
  position: relative;

  
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
    display: none; //for chrome
  }

  > *{
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
  }
}

*{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  
  &::-webkit-scrollbar{
    display: none; //for chrome
  }
}