.options{
  background: white;
  color: navy !important;

  img {
    max-height: inherit;
    border-radius: 10px;
    margin-top: 0
  }

  .typing{
    color: green;
  }

  .card-size{
    background: white;
    border: transparent;
  }

  .card-title{
    color: navy;
    font-weight: bold;
  }
  .accordion-button{
    background: white;
    color: navy !important;  
  }
}