.intro{
  background-color: black;
  font-weight: 700;
  width: 100%;
  height: 100%;
  top: auto;

  .intro-face{
    width: 100%;
    height: 100%;
  }
  
  .intro-decription{
    color: white;
    white-space: nowrap;
    background-color: black;
  }
  
  .intro_positions{
    color: green;
  }
  
  /* Extra Small devices (landscape phones, 544px and up) */
@media (min-width: 320px) {  
  h3 {font-size:1.5rem;} /*1rem = 16px*/
  h4 {font-size:1.25rem;} /*1rem = 16px*/
  img {
    width: 90vw;
  }
}
  /* Small devices (landscape phones, 544px and up) */
@media (min-width: 540px) {  
  h3 {font-size:1.75rem;} /*1rem = 16px*/
  h4 {font-size:1.5rem;} /*1rem = 16px*/
  img {
    width: inherit;
  }  
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h3 {font-size:2.0rem;} /*1rem = 16px*/
  h4 {font-size:1.75rem;} /*1rem = 16px*/
  img {
    width: 100%;
  }  
}
/* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h3 {font-size:2.5rem;} /*1rem = 16px*/
    h4 {font-size:2rem;} /*1rem = 16px*/
    img {
      width: 100%;
    }  
  }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1400px) {  
      h3 {font-size:4rem;} /*1rem = 16px*/    
      h4 {font-size:3rem;} /*1rem = 16px*/
      img {
        width: 70%;
      } 
    }  
}