.payment{
  background: white;
  color: black;

  .img-thumbnail {
    height:15em;
    object-fit:cover;
  }
  .card-size{
    height: 100%;
  }
  .card-title{
    font-weight: 700;
  }

  h5{
    font-weight: 700;
  }
}