.about{
  background: white;
  color: navy;
  img {
    max-height: inherit;
    border-radius: 10px;
    margin-top: 0
  }

  .typing{
    color: green;
  }

  .card-size{
    background: white;
    border: transparent;
  }
}